@import '../../shared/colors.scss';

pre {
  padding: 0;
  margin: 0.5em;
  text-align: left;
}

pre.raw {
  background-color: white;
  color: darken($fuschia, 20%);
  border: 1px solid $fuschia;
  padding: 0.5em;
}

pre.raw > code {
  width: 100%;
}

.playground {
  display: flex;
  gap: 1em;
}

.controls {
  border-width: 0;
  padding: 0;
  margin: 0;
  width: 300px;
  display: block;
  button {
    display: inline-block;
  }
}

#result {
  width: 100%;
}

.playground-event {
  background-color: $coral;
  color: white;
  border: 1px solid darken($coral, 10%);
  text-align: center;
  margin-bottom: 1em;
}
