@import '../../shared/colors.scss';

#panel {
  position: absolute;
  left: 1100px;
  top: 180px;
  background: $blue;
  padding: 1em;
  border: 1px solid;
  &.moving {
    background: $fuschia;
  }
}
