@import url(./fonts.css);

html,
body,
* {
  font-family: 'Averia', sans-serif;
}

body, main {
  height: 100vh;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
}

code,
pre {
  font-family: 'Courier Prime', monospace;
}

.controls {
  border: 1px solid pink;
  padding: 12px;
  margin: 12px 0;
}

.columns {
  display: flex;
  height: 100%;
  gap: 12px;
}

.column {
  border: 1px solid lightblue;
  width: 100%;
}

.stream-element {
  border: 1px solid black;
  padding: 12px;
  margin: 6px;
}

.stream-first {
  background-color: #ff2828;
}

.stream-second {
  background-color: #5079ff;
}

.stream-combined {
  background-color: #cc26db;
}

.stream-john {
  background-color: #ff2828;
}

.stream-paul {
  background-color: #5079ff;
}

.stream-george {
  background-color: #cc26db;
}

.stream-ringo {
  background-color: #27b445;
}
