@import '../../shared/colors.scss';

#fetch-form {
  width: 100%;
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
  input {
    width: 100%;
  }
  button {
    width: 200px;
  }
}

article {
  color: $teal;
}
